<%- include("../includes/css_link.ejs") %>
  <title>All Listings</title>
</head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <%- include("../includes/main.ejs") %>
    <%- include("../includes/footer.ejs") %>
    <%- include("../includes/js_link.ejs") %>
  </body>
</html>
 